<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MeLivro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">


</head>



<body>
    <div class="armacao">
        <br></br>
          <img src="imagem/logo1.png"  alt="logo" title="MeLivro" height="95px" >
        <div class="cabecalho">
                      <button class="button button1">Minhas Vendas</button>
                      <button class="button button2">Historico</button>
                      <a href="telacadastro.html"><button class="button button3">Cadastre-se</button></a>
                      <a href="telalogin.html"><button class="button button4">Entrar</button></a>
                      
                   
           </div>

        <div class="corpo">
            
            <div class="menuContainer">
                
                <ul class="menu">
                    
                    <li>
                        <a href="produtos/add/livro.php">Livro</a>
                    </li>
                    
                    <li>
                        <a href="produtos/add/revista.php">Revistas</a>
                    </li>
                    
                    <li>
                        <a href="produtos/add/Artigos.php">Artigos</a>
                    </li>
                    
                </ul>
            </div>

            </li></li>
            <br></br>

            <div class="busca">
                    <form class="form-inline mt-2 mt-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" size="95" placeholder="Digite o produto desejado">
                     
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
                                <img src="imagem/searchicon.png"alt="busca" title="search"  height="15px"/>
                            </button>
                
                            <button class="btn btn-outline-success my-3 my-sm-0" type="submit" >
                                    <img src="imagem/carrinho.png"alt="carrinho" title="carrinho"  height="15px"/>
                                </button>
                        </form>
                </div>
            </div>
            
            <br></br>
        <div class="avaliacao">
            <h2>Avaliação</h2>
            <br></br>
            <div class="form">
              <div class="errors"></div>
              <p class="label">Comentário:</p>
              <div class="comments" id="comments" contenteditable="true"></div>
              <p></p>
              <p class="label">Nota:</p>
              <div class="stars">
                <span class="star-1">&#x2605;</span>
                <span class="star-2">&#x2605;</span>
                <span class="star-3">&#x2605;</span>
                <span class="star-4">&#x2605;</span>
                <span class="star-5">&#x2605;</span>
              </div>
              <div class="you-rated"></div>
              <hr/>
              <div id="actions" class="row">
                      <p class="signin button"> 
                            <button type="submit" value="enviar" class="btn btn-primary btn-lg btn-block "/> Enviar Avaliação </button>
                      </p>
                     </div>
            </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script>
              window.clean = true;
              $('[class^="star-"]').on('click', function() {
                $(this).siblings().removeClass('selected');
                $(this).addClass('selected');
                $(this).prevAll().addClass('selected');
                var index = $(this).index() + 1;
                $('.you-rated').text('Você deu nota '+index);
              });
             
            </script>
                    
  <br></br>
  <div class="rodape">
      Copyright &COPY; 2018 MeLivro. Todos os Direitos Reservados.
  </div>

</body>
</html>