<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MeLivro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<div class="armacao">
    <br></br>
        <nav class="navbar navbar-expand-md">
        <div class="container">	
         <div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarSupportedContent">
            <ul class="nav navbar-nav ">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuário </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="perfilUsuario.html">Perfil</a>
                          <a class="dropdown-item" href="EditarPerfil.html">Editar Perfil</a>
                          <a class="dropdown-item" href="visualizarPedidos.html">Pedidos</a>
                          <a class="dropdown-item" href="menuPrincipal.html">Sair</a>

                    </div>
              </li>
          </div>
        </div>
   </nav>
      <img src="imagem/logo1.png"  alt="logo" title="MeLivro" height="95px" >
    <div class="cabecalho">
                  <button class="button button1">Minhas Vendas</button>
                  <button class="button button2">Historico</button>
                  <a href="telacadastro.html"><button class="button button3">Cadastre-se</button></a>
                  <a href="telalogin.html"><button class="button button4">Entrar</button></a>         
    </div>
 <br></br>
 <div class="corpo">
            
        <div class="menuContainer">
            
            <ul class="menu">
                
                <li>
                    <a href="produtos/add/livro.php">Livro</a>
                </li>
                
                <li>
                    <a href="produtos/add/revista.php">Revistas</a>
                </li>
                
                <li>
                    <a href="produtos/add/Artigos.php">Artigos</a>
                </li>
                
            </ul>
        </div>

        </li></li>
        <br></br>

        <div class="busca">
                <form class="form-inline mt-2 mt-md-0">
            <div class="input-group">
                <input type="text" class="form-control" size="95" placeholder="Digite o produto desejado">
                 
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
                            <img src="imagem/searchicon.png"alt="busca" title="search"  height="15px"/>
                        </button>
            
                        <button class="btn btn-outline-success my-3 my-sm-0" type="submit" >
                                <img src="imagem/carrinho.png"alt="carrinho" title="carrinho"  height="15px"/>
                            </button>
                    </form>
            </div>
        </div>
        
        <br></br>
 <div class="panel-heading">
        <h3 class="panel-title">Cerginho da Pereira</h3>
        <img src="imagem/icon_user.png"  alt="useraccount" title="useraccount" height="99px">  
        <div class="stars">
                <span class="star-1">&#x2605;</span>
                <span class="star-2">&#x2605;</span>
                <span class="star-3">&#x2605;</span>
                <span class="star-4">&#x2605;</span>
                <span class="star-5">&#x2605;</span>
              </div>
    </div>
      
                <br></br>
  <div class="card">
     <div class="container">
        <div class="row">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="row">
                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Nome:</td>
                          <td>Cerginho da Pereira Nunes</td>
                        </tr>
                        <tr>
                          <td>Cidade:</td>
                          <td>São Paulo</td>
                        </tr>
                        <tr>
                          <td>Sexo:</td>
                          <td>Masculino</td>
                          </tr>
                          <tr>
                             <td>Telefone:</td>
                             <td>(11)991264733</td>
                             </tr>
                         <tr>
                          <td>Email</td>
                          <td><a href="mailto:caitomainier@gmail.com">caitomainier@gmail.com</a></td>
                        </tr>             
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="conteudo">

<div class="itens">
                    
        <h1>Anúncios Ativos</h1>
        
        <a href="mostraranuncio1.html">
        <div class="itemListaConteudo">
                <img src="imagem/engenhariasoftware.jpg" alt="Engenharia de Software" />

                <p class="tituloItemListaConteudo">
                    Engenharia de Software
                </p>

                <p class="valorItemListaConteudo">
                    R$ 52,00
                </p>
            </div>
        </a>
        <a href="mostraranuncio5.html">
            <div class="itemListaConteudo">
                <img src="imagem/oandardobebado.jpg" alt="O Andar do Bêbado" />

                <p class="tituloItemListaConteudo">
                    O Andar do Bêbado
                </p>

                <p class="valorItemListaConteudo">
                    R$ 15,00
                </p>
            </div>
        </a>
        </div>
    </div>
</div>

<br></br>
<div class="rodape">
    Copyright &COPY; 2018 MeLivro. Todos os Direitos Reservados.
</div>
</body>
</html>